node_modules
dist
build
coverage
yarn-error.log
*.log
*.tgz

node_modules
yarn.lock
package-lock.json

src/
tsconfig.json
tsconfig.build.json
babel.config.js
lefthook.yml
bump-minor.sh

.git
.github/
.vscode/
example/
tests/
coverage/
CODE_OF_CONDUCT.md
